h1{
    color: mediumslateblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}

body {
    background-color: lightsalmon;
}

img {
    width: auto;
}

h3 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 18px;
    background-color: linen;
    font-family: fantasy;
}